html,
body,
#root {
    height: 100%;
}
.wrap {
    display: flex;
    justify-content: center;
}

.box {
    min-height: 310px;
    border: 2px solid black;
    text-align: center;
}

.win {
    border: 5px solid green;
}

.loose {
    border: 5px solid red;
}

.tie {
    border: 5px solid black;
}

.box img {
    width: 200px;
    border: 0 !important;
}
